*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: monospace;
}

button, input, select, textarea {  
    font: inherit;
}

.whole-page{
    display: flex;
}

img {
    width: 33.9%;
    height: 100%;
}


.side-page {
    display: flex;
    flex-direction: column;
}
.credit-text {
    color: white;
    align-self: center;
    position: absolute;
    bottom: 10px;
}
.credit-text span {
    text-decoration: underline;
}
.top-block{
    flex: 1;
    background-color: whitesmoke;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 50px; 
    padding-right: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.0rem;
    gap: 0;
}

.top-text {
    margin-bottom: 20px;
    font-size: 1.253rem;

}
.top-block p {
    font-size: 1.253rem;

}

.login-block{
    flex: 1;
    padding-left: 50px;
}
.login-block section h1 {
    font-size: 1.253rem;
}

.bottom-block {
    flex: 1;
    background-color: whitesmoke;
    padding: 30px 0 0 50px;  
    display: flex;
    flex-direction: column;
}

.create-account {
    width: 215px;
    color: white;
    font-weight: 650;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0.86rem 2.5rem;
    background-color: #596D48;
}

.side-img {
    display: flex;
    flex-direction: column;
    width: 70vw;
   height: 100vh;
   background: url(images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
   background-size: cover; 
}

.odin-strip {
    display: flex;
    justify-content: center;
    background-color: rgb(0 0 0 / 40%);    
    margin: 12rem 0;
    height: 10rem;   
}

.odin-png { 
    
    background: url(images/odin-lined.png) no-repeat; 
    background-size: 110px;
    width: 6.9rem;
}

.odin-text {
    font-family:  "Norse"; 
    font-weight: 700; 
    align-self: center;
    font-size: 5.4rem;
    color: white;

}
a {
    color:#596D48; 
    font-weight: bold;
    text-decoration: none;
    
}


/* for the form */
.info-form {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
.info-form div input[type='text'],
.info-form div input[type='email'], 
.info-form div input[type='password'] {
    font: inherit;
    padding: 2px 7px 2px 7px;
}

.username, .user-info, .password {
    display: flex; 
    gap: 50px;
}

.user-info p, .username p, .password p {
    display: flex;
    flex-direction: column;
}
.info-form div label{
    font-size: .67rem;
    font-weight: 550;
}
.password p span {
    display: none;
}
.info-form div input { 
    border-radius: 3px;
    border: 1px solid grey;
}

.username input[type='text']:focus,
.user-info input[type='email']:focus,
.user-info input[type='text']:focus,
.password input[type='password']:focus {
    border: 1px solid blue;
    outline: none;
}
#email[type='email']:invalid,#phone[type='text'], #password[type='password']:invalid, #confirm_password[type='password']:invalid {
    border: 1px solid #D55C5F;
}