*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

.whole-page{
    display: flex;
}

img {
    width: 33.9%;
    height: 100%;
}


.side-page {
    display: flex;
    flex-direction: column;
}
.credit-text {
    color: white;
    align-self: center;
    position: absolute;
    bottom: 10px;
}
.credit-text span {
    text-decoration: underline;
}
.top-block{
    flex: 1;
    background-color: whitesmoke;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 50px; 
    padding-right: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.0rem;
    gap: 0;
}

.top-text {
    margin-bottom: 20px;
    font-size: 1.253rem;

}
.top-block p {
    font-size: 1.253rem;

}

.login-block{
    flex: 1;
    padding-left: 50px;
}
.login-block section h1 {
    font-size: 1.253rem;
}

.bottom-block {
    flex: 1;
    background-color: whitesmoke;
    padding: 30px 0 0 50px;  
    display: flex;
    flex-direction: column;
}

.create-account {
    width: 11rem;
    color: white;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0.56rem 1.2rem;
    background-color: #596D48;
}

.side-img {
    display: flex;
    flex-direction: column;
    width: 70vw;
   height: 100vh;
   background: url(images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
   background-size: cover; 
}

.odin-strip {
    display: flex;
    justify-content: center;
    background-color: rgb(0 0 0 / 40%);    
    margin: 12rem 0;
    height: 10rem;   
}

.odin-png { 
    
    background: url(images/odin-lined.png) no-repeat; 
    background-size: 110px;
    width: 6.9rem;
}

.odin-text {
    font-family:  "Norse"; 
    font-weight: 700; 
    align-self: center;
    font-size: 5.4rem;
    color: white;

}
a {
    color:#596D48; 
    font-weight: bold;
    text-decoration: none;
    
}


/* for the form */
.info-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.username, .user-info, .password {
    display: flex;
    gap: 50px;
}

.user-info p, .username p, .password p {
    display: flex;
    flex-direction: column;
}
.info-form div label{
    font-size: .67rem;
    font-weight: 550;
}
.info-form div input { 
    height: 23px;
}
#password:invalid, #confirm-password:invalid {
    border-color: red;
}